@model SP2023_Assignment3_sriddle.Models.CastVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cast.Id" />
            <div class="form-group">
                <label asp-for="Cast.MovieId" class="control-label">Movie</label>
                <select asp-for="Cast.MovieId" class="form-control" asp-items="Model.MovieNames"></select>
                <span asp-validation-for="Cast.MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cast.ActorId" class="control-label">Actor</label>
                <select asp-for="Cast.ActorId" class="form-control" asp-items="Model.ActorNames"></select>
                <span asp-validation-for="Cast.ActorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cast.CharacterName" class="control-label">Character Name</label>
                <input asp-for="Cast.CharacterName" class="form-control" />
                <span asp-validation-for="Cast.CharacterName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" />
                <br /><br />
                &larr; <a class="back-anchor" asp-action="Index">Back to Casting Roles List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
